#!/usr/bin/expect

spawn php artisan app:install

expect "Please enter your first name:" {send "{{ admin_first_name }}\r"}
expect "Please enter your last name:" {send "{{ admin_last_name }}\r"}
expect "Please enter your user email:" {send "{{ admin_email }}\r"}
expect "lease enter your user password (at least 8 characters):" {send "{{ admin_password }}\r"}

expect eof